<div class="card">
  <!-- List Mode -->
  <div *ngIf="mode === 'list'">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        <button
          pButton
          pRipple
          label="Delete"
          icon="pi pi-trash"
          class="p-button-danger"
          [disabled]="!selectedTransferRequests?.length"
          (click)="deleteSelectedTransferRequests()"
        ></button>
      </div>
      <div class="p-toolbar-group-right">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="onGlobalFilter(dt, $event)"
            placeholder="Keyword Search"
            class="p-inputtext p-component"
          />
        </span>
      </div>
    </p-toolbar>

    <div class="grid">
      <div class="col-12">
        <div class="card">
          <p-table
            #dt
            [value]="transferRequests()"
            [rows]="10"
            [paginator]="true"
            [globalFilterFields]="['idTransferRequest', 'userId', 'commissionAccountNumber', 'transferType', 'amount', 'currency', 'status', 'beneficiary_name']"
            [(selection)]="selectedTransferRequests"
            [rowHover]="true"
            dataKey="idTransferRequest"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 25]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-transferRequest>
              <tr>
                <td>
                  <p-tableCheckbox [value]="transferRequest"></p-tableCheckbox>
                </td>
                <td>{{ transferRequest.idTransferRequest }}</td>
                <td>{{ transferRequest.userId }}</td>
                <td>{{ transferRequest.commissionAccountNumber }}</td>
                <td>{{ transferRequest.transferType }}</td>
                <td>{{ transferRequest.amount | currency: transferRequest.currency }}</td>
                <td>{{ transferRequest.currency }}</td>
                <td>{{ transferRequest.status }}</td>
                <td>{{ transferRequest.beneficiary?.name }}</td>
                <td>{{ transferRequest.documents?.length || 0 }}</td>
                <td>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-eye"
                    class="p-button-rounded p-button-info mr-2"
                    (click)="viewDetails(transferRequest.idTransferRequest)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-warning mr-2"
                    (click)="editTransferRequest(transferRequest)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-danger"
                    (click)="deleteTransferRequest(transferRequest)"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="cols.length + 2">No transfer requests found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-12 md:col-4">
        <div class="card p-fluid">
          <h5>Search Filters</h5>
          <div class="field">
            <label for="searchUserId">User ID</label>
            <p-inputNumber 
              id="searchUserId" 
              [(ngModel)]="searchCriteria.userId" 
              [min]="0">
            </p-inputNumber>
          </div>
          <div class="field">
            <label for="searchCommissionAccount">Commission Account</label>
            <input
              pInputText
              id="searchCommissionAccount"
              [(ngModel)]="searchCriteria.commissionAccountNumber"
              placeholder="Enter account number"
              class="p-inputtext p-component"
            />
          </div>
          <div class="field">
            <label for="searchTransferType">Transfer Type</label>
            <p-dropdown
              id="searchTransferType"
              [options]="transferTypes"
              [(ngModel)]="searchCriteria.transferType"
              optionLabel="label"
              optionValue="value"
              placeholder="Select a transfer type"
            ></p-dropdown>
          </div>
          <div class="field">
            <label for="searchStatus">Status</label>
            <p-dropdown
              id="searchStatus"
              [options]="statuses"
              [(ngModel)]="searchCriteria.status"
              optionLabel="label"
              optionValue="value"
              placeholder="Select a status"
            ></p-dropdown>
          </div>
          <div class="field">
            <label for="searchAmount">Amount</label>
            <p-inputNumber 
              id="searchAmount" 
              [(ngModel)]="searchCriteria.amount" 
              [min]="0" 
              mode="currency" 
              currency="TND">
            </p-inputNumber>
          </div>
          <div class="field">
            <button pButton pRipple label="Search" icon="pi pi-search" class="p-button-primary mr-2" (click)="onSearch()"></button>
            <button pButton pRipple label="Clear" icon="pi pi-times" class="p-button-secondary" (click)="clearSearch()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- New/Edit Mode -->
  <div *ngIf="mode === 'new' || mode === 'edit'" class="card">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <h3>{{ mode === 'new' ? 'New Transfer Request' : 'Edit Transfer Request' }}</h3>
      </div>
      <div class="p-toolbar-group-right">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success mr-2" [disabled]="isSaving" (click)="saveTransferRequest()"></button>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary" (click)="hideDialog()"></button>
      </div>
    </p-toolbar>

    <div class="grid p-fluid">
      <!-- Left Column -->
      <div class="col-12 md:col-6">
        <div class="field">
          <label for="userId">User ID *</label>
          <p-inputNumber 
            id="userId" 
            [(ngModel)]="transferRequest.userId" 
            [min]="1" 
            [required]="true">
          </p-inputNumber>
        </div>
        <div class="field">
          <label for="commissionAccountNumber">Commission Account Number *</label>
          <input
            pInputText
            id="commissionAccountNumber"
            [(ngModel)]="transferRequest.commissionAccountNumber"
            [minlength]="10"
            [maxlength]="34"
            required
            class="p-inputtext p-component"
          />
        </div>
        <div class="field">
          <label for="commissionAccountType">Commission Account Type *</label>
          <p-dropdown
            id="commissionAccountType"
            [options]="accountTypes"
            [(ngModel)]="transferRequest.commissionAccountType"
            optionLabel="label"
            optionValue="value"
            required
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="settlementAccountNumber">Settlement Account Number *</label>
          <input
            pInputText
            id="settlementAccountNumber"
            [(ngModel)]="transferRequest.settlementAccountNumber"
            [minlength]="10"
            [maxlength]="34"
            required
            class="p-inputtext p-component"
          />
        </div>
        <div class="field">
          <label for="settlementAccountType">Settlement Account Type *</label>
          <p-dropdown
            id="settlementAccountType"
            [options]="accountTypes"
            [(ngModel)]="transferRequest.settlementAccountType"
            optionLabel="label"
            optionValue="value"
            required
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="transferType">Transfer Type *</label>
          <p-dropdown
            id="transferType"
            [options]="transferTypes"
            [(ngModel)]="transferRequest.transferType"
            optionLabel="label"
            optionValue="value"
            required
            (ngModelChange)="onTransferTypeChange()"
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="issueDate">Issue Date *</label>
          <input
            pInputText
            id="issueDate" 
            [(ngModel)]="transferRequest.issueDate" 
            type="date" 
            required
            class="p-inputtext p-component"
          />
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-12 md:col-6">
        <div class="field">
          <label for="feeType">Fee Type *</label>
          <p-dropdown
            id="feeType"
            [options]="feeTypes"
            [(ngModel)]="transferRequest.feeType"
            optionLabel="label"
            optionValue="value"
            required
          ></p-dropdown>
        </div>
        <div class="field">
          <label for="currency">Currency *</label>
          <input
            pInputText
            id="currency" 
            [(ngModel)]="transferRequest.currency" 
            [maxlength]="3" 
            required
            class="p-inputtext p-component"
          />
        </div>
        <div class="field">
          <label for="amount">Amount *</label>
          <p-inputNumber 
            id="amount" 
            [(ngModel)]="transferRequest.amount" 
            [min]="0.001" 
            mode="currency" 
            currency="TND" 
            required>
          </p-inputNumber>
        </div>
        <div class="field" *ngIf="transferRequest.transferType === 'COMMERCIAL'">
          <label for="invoiceNumber">Invoice Number *</label>
          <input
            pInputText
            id="invoiceNumber"
            [(ngModel)]="transferRequest.invoiceNumber"
            [maxlength]="50"
            required
            class="p-inputtext p-component"
          />
        </div>
        <div class="field" *ngIf="transferRequest.transferType === 'COMMERCIAL'">
          <label for="invoiceDate">Invoice Date *</label>
          <input
            pInputText
            id="invoiceDate" 
            [(ngModel)]="transferRequest.invoiceDate" 
            type="date" 
            required
            class="p-inputtext p-component"
          />
        </div>
        <div class="field" *ngIf="transferRequest.transferType === 'COMMERCIAL'">
          <label for="transferReason">Transfer Reason *</label>
          <input
            pInputText
            id="transferReason"
            [(ngModel)]="transferRequest.transferReason"
            [maxlength]="255"
            required
            class="p-inputtext p-component"
          />
        </div>
        <div class="field">
          <p-checkbox
            [(ngModel)]="transferRequest.isNegotiation"
            [binary]="true"
            label="Negotiation"
          ></p-checkbox>
          <p-checkbox
            [(ngModel)]="transferRequest.isTermNegotiation"
            [binary]="true"
            label="Term Negotiation"
          ></p-checkbox>
          <p-checkbox
            [(ngModel)]="transferRequest.isFinancing"
            [binary]="true"
            label="Financing"
          ></p-checkbox>
        </div>
      </div>

      <!-- Beneficiary Information Section -->
      <div class="col-12">
        <h5>Beneficiary Information</h5>
        <div class="grid p-fluid">
          <div class="col-12 md:col-6">
            <div class="field">
              <label for="beneficiaryName">Beneficiary Name *</label>
              <input
                pInputText
                id="beneficiaryName" 
                [(ngModel)]="transferRequest.beneficiary.name" 
                [maxlength]="100" 
                required
                placeholder="Enter beneficiary name"
                class="p-inputtext p-component"
              />
            </div>
            <div class="field">
              <label for="beneficiaryCountry">Country *</label>
              <input
                pInputText
                id="beneficiaryCountry" 
                [(ngModel)]="transferRequest.beneficiary.country" 
                [maxlength]="100" 
                required
                placeholder="Enter country"
                class="p-inputtext p-component"
              />
            </div>
          </div>
          <div class="col-12 md:col-6">
            <div class="field">
              <label for="beneficiaryDestinationBank">Destination Bank *</label>
              <input
                pInputText
                id="beneficiaryDestinationBank" 
                [(ngModel)]="transferRequest.beneficiary.destinationBank" 
                [maxlength]="100" 
                required
                placeholder="Enter destination bank"
                class="p-inputtext p-component"
              />
            </div>
            <div class="field">
              <label for="beneficiaryBankAccount">Bank Account</label>
              <input
                pInputText
                id="beneficiaryBankAccount" 
                [(ngModel)]="transferRequest.beneficiary.bankAccount" 
                [maxlength]="34"
                placeholder="Enter bank account (optional)"
                class="p-inputtext p-component"
              />
            </div>
          </div>
        </div>

        <!-- Documents Section -->
        <div class="field">
          <label>Documents</label>
          <p-fileUpload
            [multiple]="true"
            [maxFileSize]="1000000"
            accept="application/pdf,image/*"
            (onSelect)="onFileSelected($event)"
            [customUpload]="true"
            [files]="selectedFiles"
          ></p-fileUpload>
          <div *ngFor="let doc of transferRequest.documents" class="mt-2">
            <span>{{ doc.fileName }}</span>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-sm ml-2"
              (click)="deleteDocument(doc.idDocument)"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Details Mode -->
  <div *ngIf="mode === 'details'" class="card">
    <p-toolbar>
      <div class="p-toolbar-group-left">
        <h3>Transfer Request Details</h3>
      </div>
      <div class="p-toolbar-group-right">
        <button
          pButton
          pRipple
          label="Edit"
          icon="pi pi-pencil"
          class="p-button-info mr-2"
          [disabled]="isLoading"
          (click)="editTransferRequest(transferRequest)"
        ></button>
        <button
          pButton
          pRipple
          label="Back"
          icon="pi pi-arrow-left"
          class="p-button-secondary"
          (click)="goBack()"
        ></button>
      </div>
    </p-toolbar>

    <div class="grid p-fluid" *ngIf="!isLoading; else loadingTemplate">
      <div class="col-12 md:col-6">
        <div class="field">
          <label>User ID</label>
          <p>{{ transferRequest.userId }}</p>
        </div>
        <div class="field">
          <label>Commission Account Number</label>
          <p>{{ transferRequest.commissionAccountNumber }}</p>
        </div>
        <div class="field">
          <label>Commission Account Type</label>
          <p>{{ transferRequest.commissionAccountType }}</p>
        </div>
        <div class="field">
          <label>Settlement Account Number</label>
          <p>{{ transferRequest.settlementAccountNumber }}</p>
        </div>
        <div class="field">
          <label>Settlement Account Type</label>
          <p>{{ transferRequest.settlementAccountType }}</p>
        </div>
        <div class="field">
          <label>Transfer Type</label>
          <p>{{ transferRequest.transferType }}</p>
        </div>
        <div class="field">
          <label>Issue Date</label>
          <p>{{ transferRequest.issueDate }}</p>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="field">
          <label>Fee Type</label>
          <p>{{ transferRequest.feeType }}</p>
        </div>
        <div class="field">
          <label>Currency</label>
          <p>{{ transferRequest.currency }}</p>
        </div>
        <div class="field">
          <label>Amount</label>
          <p>{{ transferRequest.amount | currency: transferRequest.currency }}</p>
        </div>
        <div class="field" *ngIf="transferRequest.transferType === 'COMMERCIAL'">
          <label>Invoice Number</label>
          <p>{{ transferRequest.invoiceNumber }}</p>
        </div>
        <div class="field" *ngIf="transferRequest.transferType === 'COMMERCIAL'">
          <label>Invoice Date</label>
          <p>{{ transferRequest.invoiceDate }}</p>
        </div>
        <div class="field" *ngIf="transferRequest.transferType === 'COMMERCIAL'">
          <label>Transfer Reason</label>
          <p>{{ transferRequest.transferReason }}</p>
        </div>
        <div class="field">
          <label>Status</label>
          <p-tag [severity]="getSeverity(transferRequest.status ?? 'PENDING')">{{ transferRequest.status ?? 'PENDING' }}</p-tag>
        </div>
      </div>
      <div class="col-12">
        <h5>Beneficiary Information</h5>
        <div class="field">
          <label>Beneficiary Name</label>
          <p>{{ transferRequest.beneficiary.name }}</p>
        </div>
        <div class="field">
          <label>Country</label>
          <p>{{ transferRequest.beneficiary.country }}</p>
        </div>
        <div class="field">
          <label>Destination Bank</label>
          <p>{{ transferRequest.beneficiary.destinationBank }}</p>
        </div>
        <div class="field">
          <label>Bank Account</label>
          <p>{{ transferRequest.beneficiary.bankAccount }}</p>
        </div>
        <div class="field">
          <label>Documents</label>
          <div *ngFor="let doc of transferRequest.documents" class="mt-2">
            <span>{{ doc.fileName }}</span>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger p-button-sm ml-2"
              (click)="deleteDocument(doc.idDocument)"
            ></button>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="canPerformActions()">
        <div class="field">
          <button
            pButton
            pRipple
            label="Validate"
            icon="pi pi-check"
            class="p-button-success mr-2"
            [disabled]="isLoading"
            (click)="validateTransferRequest()"
          ></button>
          <button
            pButton
            pRipple
            label="Reject"
            icon="pi pi-times"
            class="p-button-danger mr-2"
            [disabled]="isLoading"
            (click)="rejectTransferRequest()"
          ></button>
          <button
            pButton
            pRipple
            label="Request Info"
            icon="pi pi-info-circle"
            class="p-button-warning"
            [disabled]="isLoading"
            (click)="requestAdditionalInfo()"
          ></button>
        </div>
      </div>
    </div>
    <ng-template #loadingTemplate>
      <p-progressSpinner></p-progressSpinner>
    </ng-template>
  </div>
</div>

<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
